<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos - Juniver Santé</title>
    <link rel="stylesheet" href="/public/css/styleAbout.css">
</head>
<body>
    <header>
        <h1>À propos de notre équipe</h1>
        <nav>
            <ul>
                <li><a href="/public/index.html">Accueil</a></li>
                <li><a href="/public/views/calendar.html">À propos</a></li>
            </ul>
        </nav>
    </header>

    <main id="profile-content">
        <!-- Le profil spécifique sera injecté ici -->
    </main>

    <footer>
        <p>
            <a href="/public/views/privacy.html">Politique de confidentialité</a> | 
            <a href="/public/views/legal.html">Mentions légales</a></p>
        <p>© 2024 Juniver Santé - Tous droits réservés</p>
    </footer>

    <script type="module" src="/public/js/views/about.js"></script>
</body>
</html>
