<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier des Événements</title>
    <link rel="stylesheet" href="/public/css/styleCalendar.css">
</head>
<body>
    <header>
        <h1>Calendrier des Événements</h1>
    </header>

    <main>
        <!-- Section pour la liste des événements à venir -->
        <section id="upcoming-events">
            <h2>Événements à venir</h2>
            <ul id="event-list"></ul>
        </section>

        <!-- Bouton pour afficher les événements passés -->
        <section id="past-events-section" style="display: none;">
            <h2>Événements Passés</h2>
            <ul id="past-event-list"></ul>
        </section>
        <button id="toggle-past-events" style="display: none;">Afficher les événements passés</button>

        <!-- Calendrier -->
        <section id="calendar-container">
            <div id="calendar"></div>
        </section>
    </main>

    <footer>
        <p>
            <a href="/public/views/privacy.html">Politique de confidentialité</a> | 
            <a href="/public/views/legal.html">Mentions légales</a></p>
        <p>© 2024 Juniver Santé - Tous droits réservés</p>
    </footer>

    <script type="module" src="/public/js/views/calendar.js"></script>
</body>
</html>
