<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ateliers Hebdomadaires</title>
    <link rel="stylesheet" href="../css/styleWorkshop.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Ateliers Hebdomadaires</h1>
            <nav class="main-nav">
                <ul class="nav-menu">
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="/public/views/calendar.html">Calendrier</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <section id="hero">
            <div class="hero-content">
                <h2>Découvrez Nos Ateliers Hebdomadaires</h2>
                <p>Explorez les activités, rencontrez nos animateurs, et inscrivez-vous dès aujourd'hui pour une expérience enrichissante.</p>
            </div>
        </section>
        <section id="workshop-list">
            <h2>Nos Ateliers</h2>
            <!-- Les ateliers seront injectés ici -->
        </section>

    </main>
    <footer>
        <p>
            <a class="footer" href="/public/views/privacy.htm">Politique de confidentialité</a> | 
            <a href="/public/views/legal.htm">Mentions légales</a>
        </p>
        <p>© 2024 Juniver Santé - Tous droits réservés</p>
    </footer>

    
    <script type="module" src="../js/views/workshop.js"></script>
</body>
</html>
