$primary-color: hsl(122, 39%, 49%);
$secondary-color: hsl(146, 50%, 36%);
$info-color: hsl(211, 100%, 50%);
$background-color: hsl(148, 45%, 94%);
$text-color: hsl(180, 25%, 25%);
$text-colorSecondary: hsl(0, 0%, 100%);
$light-background: hsl(210, 20%, 98%);
$light-gray: hsl(82, 39%, 30%);
$box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
$border-radius: 10px;
$font-family: "Arial", sans-serif;
