@import '../abstracts/variables';

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  background-color: $background-color;
  color: $text-color;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0;
}


