.index-main {
  padding: 2rem;
  
  /* Section Présentation */
  #presentation {
    background-color: #fefcfb;
    padding: 5%;
    margin: auto;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    
    h2 {
      font-size: 1.8rem;
      color: #2e8b57;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    
    p {
      font-size: 1rem;
      line-height: 1.8;
      color: #556b2f;
    }
  }
  
  /* Article Vedette */
  #featured-article {
    background-color: #ffffff; /* Blanc pour mettre en valeur */
    border: 1px solid #4caf50; /* Bordure verte pour démarquer */
    border-radius: 10%; /* Coins arrondis pour une touche moderne */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre pour effet de surélévation */
    padding: 2rem 2rem;
    margin: 3rem auto;
    text-align: center;
    width: 80%;
    max-width: 800px; /* Limiter la largeur sur les écrans larges */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
      transform: translateY(-10px); /* Effet de survol */
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre plus marquée au survol */
    }
    
    h2 {
      font-size: 1.2rem;
      color: #2e8b57; /* Vert foncé pour cohérence */
      margin-bottom: 1rem;
      text-transform: uppercase; /* Style de texte en majuscule */
      letter-spacing: 1px; /* Espacement des lettres */
    }
    
    p {
      font-size: 1rem; /* Taille légèrement supérieure pour la lisibilité */
      color: #2f4f4f; /* Gris foncé naturel */
      line-height: 1.8; /* Meilleure lecture */
      margin-bottom: 2rem;
    }
    
    a {
      display: inline-block;
      text-decoration: none;
      background-color: #4caf50;
      color: white;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 25px; /* Boutons arrondis */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, transform 0.2s ease;
      
      &:hover {
        background-color: #2e8b57; /* Vert plus foncé au survol */
        transform: translateY(-3px); /* Légère surélévation */
      }
    }
    
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px; /* Coins arrondis */
      margin-bottom: 2rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre */
    }
  }
}
  
  /* Responsive Design */
  @media (min-width: 1024px) {
    .index-page {
      max-width: 80%;
      width: 80%; /* Limitation à 80% pour les grands écrans */
      
      #presentation {
        width: 60%;
        
        h2 {
          font-size: 2.2rem;
        }
        
        #featured-article {
          width: 90%;
        }
      }
    }
    
    article h2 {
    font-size: 1.6rem; 
  }
}

